---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Notes From Curtis'>
  <h2>Hello, you've found me on the web</h2>
  <p>
    Recently, like many others, I've had a yearning for Web 1.0 where everyone who had a passion
    created a little website dedicated to that passion. It was nice to come across a website that
    meticulously detailed all the variants of beanie babies or a blog by a photographer who was
    obsessive about describing their process. None of it was stuffed with filler paragraphs to
    Optimize it for a Search Engine, nor was it plastered with ads and pop-ups for newsletters.
  </p>
  <p>
    I've started using RSS feeds again and adding blogs to it that I've read for the first time or
    rediscovered after a few years in the hell that was Web 2.0. It's been refreshing to read
    detailed articles about writing software, getting the latest updates on the bicycle
    infrastructure in my city or reading old posts from now defunct blogs. It's helped tune out all
    the noise.
  </p>
  <p>This site is my contribution to getting back to a more genuine web.</p>
</Layout>

<style></style>
